

build_msvc/.vs
build_msvc/MSBuild.Debug.x64
build_msvc/MSBuild.Release.x64
build_msvc/MSBuild.Debug.Win32
build_msvc/MSBuild.Release.Win32

Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
docs/Makefile
docs/Makefile.in
examples/.libs/
examples/Makefile
examples/Makefile.in
examples/src/.deps/
examples/src/*.o
examples/test_async_cluster
examples/test_async_non_cluster
examples/test_sync
install-sh
libhiredisccc/.libs/
libhiredisccc/Makefile
libhiredisccc/Makefile.in
libhiredisccc/libhiredisccc.la
libhiredisccc/src/.deps/
libhiredisccc/src/.libs/
libhiredisccc/src/*.lo
libhiredisccc/src/*.o
libtool
ltmain.sh
missing

